# Fichiers compilés (Compiled files)
*.class
out/
target/

# Configuration IntelliJ (IDE settings)
.idea/
*.iml

# Autres (Others)
*.log
# Ignorer les anciens packages et TP
src/main/java/com/
# Fichiers de modélisation et sauvegardes
*.mdzip
*.bak

# Fichiers générés par l'application
bulletin_notes.txt